@charset "UTF-8";
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, input, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif;
  vertical-align: baseline; }

p, span, a, dt, dd, li, ol {
  line-height: 1.25; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

/*auxiliary*/
.notes {
  color: #A1A1A1;
  margin: 8px 0; }

.fl {
  float: left; }

.fr {
  float: right; }

/*vue animation*/
.fade-enter-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.2s ease, transform 0.2s ease; }

.fade-enter-to {
  opacity: 1;
  transform: translateY(0); }

.fade-leave-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.2s ease, transform 0.2s ease; }

.fade-leave-to {
  opacity: 0;
  transform: translateY(-30px); }

/*icon font*/
@font-face {
  font-family: 'iconfont';
  /* project id 240106 */
  src: url("//at.alicdn.com/t/font_t5cua3bldm3d6lxr.eot");
  src: url("//at.alicdn.com/t/font_t5cua3bldm3d6lxr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_t5cua3bldm3d6lxr.woff") format("woff"), url("//at.alicdn.com/t/font_t5cua3bldm3d6lxr.ttf") format("truetype"), url("//at.alicdn.com/t/font_t5cua3bldm3d6lxr.svg#iconfont") format("svg"); }
/*layout*/
.bd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 50px;
  background: #090723; }

.header-warp {
  width: 990px;
  margin: 0 auto;
  height: 50px; }

.logo {
  float: left; }

.logo > img {
  padding-top: 15px; }

.menu {
  float: left;
  list-style: none;
  margin-left: 60px; }

.menu > li {
  display: inline-block; }

.menu > li > a {
  display: block;
  line-height: 50px;
  font-size: 16px;
  padding: 0 15px;
  letter-spacing: 0.55px;
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.52); }

.menu > li > a:hover {
  color: white; }

.tools {
  float: right; }

.tools > li {
  display: inline-block;
  margin: 8px 4px; }

.icon-set {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  color: rgba(255, 255, 255, 0.52); }
  .icon-set:before {
    font-family: 'iconfont';
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px; }
  .icon-set:hover {
    color: white; }

.icon-skin {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  color: rgba(255, 255, 255, 0.52); }
  .icon-skin:before {
    font-family: 'iconfont';
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px; }
  .icon-skin:hover {
    color: white; }

.container {
  flex: 1; }

.footer {
  width: 100%;
  height: 60px;
  background: #090723; }
  .footer .footer-warp {
    width: 990px;
    margin: 0 auto; }
  .footer .statement {
    margin-top: 20px;
    font-size: 13px;
    color: #5a5594; }

/*button*/
.btn-default {
  display: inline-block;
  height: 32px;
  padding: 5px 16px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #cccccc;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn-default:hover {
    background: white; }
  .btn-default:active {
    box-shadow: inset 0 3px 6px 2px #d9d9d9;
    background: #f2f2f2; }
  .btn-default.active {
    box-shadow: inset 0 3px 6px 2px #d9d9d9;
    background: #f2f2f2; }
  .btn-default.disable {
    color: #4d4d4d;
    background: #f2f2f2; }

.btn-primary {
  display: inline-block;
  height: 32px;
  padding: 5px 16px;
  color: #ffffff;
  background: #5a5594;
  border: 1px solid #333053;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn-primary:hover {
    background: #655fa3; }
  .btn-primary:active {
    box-shadow: inset 0 3px 6px 2px #3c3963;
    background: #504c84; }
  .btn-primary.active {
    box-shadow: inset 0 3px 6px 2px #3c3963;
    background: #504c84; }
  .btn-primary.disable {
    color: white;
    background: #504c84; }

/*component*/
.drop-down {
  position: relative; }
  .drop-down .drop-down-box {
    position: absolute;
    top: 40px;
    left: -77px;
    opacity: 0;
    background: #ffffff;
    z-index: 999;
    visibility: hidden;
    transform: translateY(20px);
    transition: visibility .2s ease,opacity .2s ease,transform .2s ease;
    -webkit-box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 9px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .drop-down .drop-down-box:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: #ffffff;
      position: absolute;
      top: -8px;
      left: 50%;
      margin-left: -8px;
      transform: rotate(45deg);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
  .drop-down.active .drop-down-box {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.2s ease , transform 0.2s ease; }
  .drop-down .drop-down-warp {
    padding: 6px 0;
    min-width: 120px; }
  .drop-down .dividing-line {
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 4px 0;
    border-bottom: 1px solid #f2f2f2; }
  .drop-down .drop-down-item {
    display: block;
    width: 180px;
    padding: 10px 20px;
    background: #ffffff;
    color: #666666;
    font-size: 14px;
    text-decoration: none; }
    .drop-down .drop-down-item:hover {
      background: #f2f2f2; }

.layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4); }
  .layer.slide-enter-active {
    opacity: 1;
    transition: opacity .2s linear; }
    .layer.slide-enter-active .layer-modal {
      height: 110px;
      transition: height .2s ease; }
  .layer.slide-enter-to {
    opacity: 1; }
    .layer.slide-enter-to .layer-modal {
      height: calc(100% - 200px);
      height: -webkit-calc(100% - 200px);
      height: -moz-calc(100% - 200px); }
  .layer.slide-leave-active {
    opacity: 1;
    transition: opacity 0.2s linear; }
  .layer.slide-leave-to {
    opacity: 0; }
  .layer .layer-modal {
    width: 500px;
    height: calc(100% - 200px);
    height: -webkit-calc(100% - 200px);
    height: -moz-calc(100% - 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.3); }
  .layer .model-header {
    height: 42px;
    padding: 12px 12px;
    border-bottom: 1px solid #f2f2f2; }
  .layer .model-title {
    color: #1d2129; }
  .layer .model-close {
    float: right;
    margin-top: -20px;
    width: 26px;
    height: 26px;
    font-family: 'iconfont';
    font-size: 26px;
    cursor: pointer;
    font-style: normal;
    color: #f2f2f2; }
  .layer .model-body {
    flex: 1;
    overflow: auto; }
  .layer .model-footer {
    padding: 16px;
    background: #fcfcfc;
    text-align: right;
    border-top: 1px solid #f2f2f2; }

.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4); }
  .aside.sideslip-enter-active {
    background-color: transparent;
    transition: background-color .2s linear; }
    .aside.sideslip-enter-active .aside-model {
      transform: translateX(100%);
      transition: transform 0.2s linear; }
  .aside.sideslip-enter-to {
    background-color: rgba(0, 0, 0, 0.4); }
    .aside.sideslip-enter-to .aside-model {
      transform: translateX(0); }
  .aside.sideslip-leave-active {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color .2s linear; }
    .aside.sideslip-leave-active .aside-model {
      transform: translateX(0);
      transition: transform 0.2s linear; }
  .aside.sideslip-leave-to {
    background-color: transparent; }
    .aside.sideslip-leave-to .aside-model {
      transform: translateX(100%); }
  .aside .aside-model {
    width: 450px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column; }
  .aside .aside-model-header {
    width: 100%;
    height: 42px;
    padding: 12px 12px;
    border-bottom: 1px solid #f2f2f2; }
  .aside .aside-model-body {
    flex: 1;
    overflow: auto; }

.jumbotron {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(22, 23, 26, 0.95) 75%, rgba(22, 23, 26, 0.95) 100%); }
  .jumbotron .jumbotron-warp {
    width: 990px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0 1px;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: width .5s linear; }
    .jumbotron .jumbotron-warp.max {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%; }
  .jumbotron .dec {
    display: block;
    width: 99.5%;
    height: 8px;
    margin: 0 auto -2px;
    background: #ffffff;
    z-index: 9999;
    -webkit-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .jumbotron .dec:first-child {
      width: 99%; }
  .jumbotron .jumbotron-modal {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 10000;
    padding: 5px;
    -webkit-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .jumbotron .jumbotron-header {
    height: 45px;
    border-bottom: 1px solid #f2f2f2; }
    .jumbotron .jumbotron-header .tool {
      display: inline-block;
      margin: 2px 5px; }
    .jumbotron .jumbotron-header .icon {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      font-style: normal;
      font-family: 'iconfont';
      color: #A1A1A1;
      line-height: 30px;
      width: 30px;
      height: 30px; }
      .jumbotron .jumbotron-header .icon:hover {
        color: #222222; }
  .jumbotron .jumbotron-body {
    flex: 1;
    overflow: auto; }
  .jumbotron .jumbotron-footer {
    height: 60px;
    border-top: 1px solid #f2f2f2; }

.row-control {
  width: 100%;
  margin-bottom: 16px; }
  .row-control .notes {
    margin-bottom: 0; }

.label-control {
  float: left;
  width: 120px;
  height: 36px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 36px;
  text-align: right; }

.text-control {
  width: 450px;
  padding: 8px 10px;
  height: 36px;
  color: #333333;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.row-control .row-left {
  display: inline-block;
  min-width: 120px;
  vertical-align: top; }
.row-control .row-right {
  display: inline-block;
  vertical-align: top; }

/*# sourceMappingURL=common.css.map */
