<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <link href="../../public/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="../../public/css/account.css" type="text/css" rel="stylesheet">
    <script src="../../public/js/lib/jquery-3.1.1.js"></script>
    <script src="../../public/js/app/common.js"></script>
</head>
<body>

<section class="bd">
    <nav class="header">
        <div class="header-warp">
            <div class="logo"><img src="../../public/images/logo.png"></div>
            <ul class="menu">
                <li><a href="javascript:;">首页</a></li>
                <li><a href="javascript:;">广场</a></li>
                <li><a href="javascript:;">足迹</a></li>
            </ul>
            <ul class="tools">
                <li>
                    <a href="javascript:;" class="icon-skin"></a>
                </li>
                <li>
                    <a href="javascript:;" class="icon-set"></a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container">
        <div class="main">
            <div class="main-left">
                <div class="headImg-warp">
                    <div class="headImg-up">
                        <img src="http://2017.miaov.com/img/profile/noavatar.png" class="headImg" alt="">
                    </div>
                    <div class="headImg-down">
                        <input type="button" value="上传图像" class="headImg-upload">
                    </div>
                    
                </div>
            </div>
            <div class="main-right">
                <div class="infor-warp">
                    <form action="" class="infor-form" style="height : 700px">
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">姓名</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                                <p class="notes">请填入姓名</p>
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">性别</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">年龄</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">电子邮件</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">生日</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                                <label for="" class="label-control">现居</label>
                            </div>
                            <div class="row-right">
                                <input type="text" class="text-control">
                            </div>
                        </div>
                        <div class="row-control">
                            <div class="row-left">
                            </div>
                            <dov class="class-right">
                                <input type="button" class="btn-default" value="保存">
                            </dov>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-warp">
            <p class="statement">网站基于Nodejs开发 版权所有 © 2012-2014       提交BUG 黔ICP备15004722号-1</p>
        </div>
    </footer>
</section>



</body>
</html>