<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../../public/css/login.css" type="text/css">
    <script src="../../public/js/lib/jquery-3.1.1.js"></script>
    <script src="../../public/js/app/login.js"></script>
</head>
<body>
    <div class="bd">
        <header class="login-header">
            <input type="button" value="注册" class="btn-transparent" id="btn-bar">
        </header>
        <div class="container">
            <div class="main">
                <h3 class="title">
                    <img src="../../public/images/title.png" alt="未来日记">
                </h3>
                <form action="" class="login-form">
                    <div class="row">
                        <input type="text" class="input-control" placeholder="用户名" autofocus>
                    </div>
                    <div class="row">
                        <input type="password" class="input-control" placeholder="密码">
                    </div>
                    <div class="row">
                        <input type="submit" class="btn" value="登 录">
                    </div>
                </form>
                <form action="" class="register-form">
                    <div class="row">
                        <input type="text" class="input-control" placeholder="注册邮箱">
                    </div>
                    <div class="row">
                        <input type="text" class="input-control" placeholder="用户名">
                    </div>
                    <div class="row">
                        <input type="text" class="input-control" placeholder="密码">
                    </div>
                    <div class="row">
                        <input type="text" class="input-control" placeholder="确认密码">
                    </div>
                    <div class="row">
                        <input type="submit" class="btn" value="注 册">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>